<footer class="bg-[#060e20] border-t border-[#dee5ff]/10">
    <div class="flex flex-col md:flex-row justify-between items-center w-full px-8 py-12 max-w-7xl mx-auto">
        <div class="mb-8 md:mb-0">
            <span class="text-lg font-bold text-[#dee5ff] headline-font">
                <img src="assets/logos/semeando.devs.horizontal.darkbg.svg" alt="Logo Semeando Devs" />
            </span>
            <p class="text-xs text-[#dee5ff]/50 mt-2 label-font tracking-widest uppercase">
                © {{ currentYear }} Semeando Devs. Criando devs da nova geração.
            </p>
        </div>
        <div class="flex flex-wrap justify-center gap-8">
            <a class="text-[#dee5ff]/50 hover:text-[#fe69ac] transition-transform hover:-translate-y-0.5 label-font text-xs tracking-widest uppercase"
                href="#">Documentação
            </a>
            <a class="text-[#dee5ff]/50 hover:text-[#fe69ac] transition-transform hover:-translate-y-0.5 label-font text-xs tracking-widest uppercase"
                href="#">Termos de Serviço
            </a>
            <a class="text-[#dee5ff]/50 hover:text-[#fe69ac] transition-transform hover:-translate-y-0.5 label-font text-xs tracking-widest uppercase"
                href="#">Política de Privacidade
            </a>
            <a class="text-[#dee5ff]/50 hover:text-[#fe69ac] transition-transform hover:-translate-y-0.5 label-font text-xs tracking-widest uppercase"
                routerLink="/support/contact">Suporte ao Cliente
            </a>
        </div>
    </div>
</footer>
