<nav class="top-nav">
    <div class="top-nav-inner">
        <div class="brand-row">
            <a class="brand" routerLink="/">
                <img src="assets/logos/semeando.devs.horizontal.darkbg.svg" alt="Logo Semeando Devs" width="150" />
            </a>
        </div>
        <div class="buttons-row">
            <button class="btn-tone" routerLink="/auth/login">Entrar</button>
            <button class="btn-action" routerLink="/auth/register">Registrar</button>
        </div>
    </div>
</nav>
