<aside
    class="fixed left-0 top-0 h-full pt-24 pb-8 flex flex-col z-40 bg-[#091328] w-64 rounded-r-3xl shadow-[20px_0_30px_rgba(0,0,0,0.3)] hidden md:flex">
    <div class="px-6 mb-8">
        <div class="flex flex-col gap-1">
            <span class="font-headline text-lg font-bold text-[#3fc2fb]">Nível 24</span>
            <span class="font-label text-xs text-on-surface-variant">4.250 XP para o Próximo Nível</span>
        </div>
        <button
            class="mt-4 w-full bg-surface-container-high hover:bg-surface-bright text-primary text-xs font-bold py-2 rounded-xl transition-all font-label uppercase tracking-widest">
            Ver Rankings
        </button>
    </div>
    <nav class="flex-1 flex flex-col px-3 gap-1">
        <a class="flex items-center gap-4 bg-[#0f1930] text-[#3fc2fb] rounded-xl px-4 py-3 border-l-4 border-[#fe69ac] translate-x-1 transition-transform"
            href="#">
            <span class="material-symbols-outlined" data-icon="account_tree">account_tree</span>
            <span class="font-label font-bold">Módulos</span>
        </a>
        <a class="flex items-center gap-4 text-[#dee5ff]/60 px-4 py-3 hover:bg-[#141f38] hover:text-[#3fc2fb] transition-all"
            href="#">
            <span class="material-symbols-outlined" data-icon="school">school</span>
            <span class="font-label">Academia</span>
        </a>
        <a class="flex items-center gap-4 text-[#dee5ff]/60 px-4 py-3 hover:bg-[#141f38] hover:text-[#3fc2fb] transition-all"
            href="#">
            <span class="material-symbols-outlined" data-icon="groups">groups</span>
            <span class="font-label">Comunidade</span>
        </a>
        <a class="flex items-center gap-4 text-[#dee5ff]/60 px-4 py-3 hover:bg-[#141f38] hover:text-[#3fc2fb] transition-all"
            href="#">
            <span class="material-symbols-outlined" data-icon="inventory_2">inventory_2</span>
            <span class="font-label">Inventário</span>
        </a>
    </nav>
    <div class="px-3 flex flex-col gap-1 mt-auto">
        <a class="flex items-center gap-4 text-[#dee5ff]/60 px-4 py-3 hover:bg-[#141f38] hover:text-[#3fc2fb] transition-all"
            href="#">
            <span class="material-symbols-outlined" data-icon="settings">settings</span>
            <span class="font-label">Configurações</span>
        </a>
        <a class="flex items-center gap-4 text-error/60 px-4 py-3 hover:bg-error/10 hover:text-error transition-all"
            routerLink="/">
            <span class="material-symbols-outlined" data-icon="logout">logout</span>
            <span class="font-label">Sair</span>
        </a>
    </div>
</aside>
