.glass {
    background: rgba(31, 43, 73, 0.6);
    backdrop-filter: blur(20px);
}

.neon-glow-primary {
    box-shadow: 0 0 15px rgba(63, 194, 251, 0.2);
}

.neon-glow-secondary {
    box-shadow: 0 0 15px rgba(254, 105, 172, 0.2);
}
