@if (shouldShowAd()) {
    <div class="ad-wrapper flex flex-col items-center justify-center p-2 rounded-DEFAULT bg-surface-container-low transition-all duration-300 overflow-hidden w-full">
        <span class="font-label text-[10px] text-on-surface-variant uppercase tracking-widest font-bold mb-1.5 select-none">Patrocinado</span>
        <div class="w-full flex justify-center items-center min-h-[50px]">
            <ins #adIns class="adsbygoogle"
                 [style]="adStyle()"
                 [attr.data-ad-client]="adClient()"
                 [attr.data-ad-slot]="slot()"
                 [attr.data-ad-format]="adFormat()"
                 [attr.data-full-width-responsive]="fullWidthResponsive()"></ins>
        </div>
    </div>
}
