.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-panel {
    background: rgba(31, 43, 73, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.glow-primary {
    box-shadow: 0 0 20px rgba(63, 194, 251, 0.2);
}
